body{

}


ul, li{
	display: block;
	margin:0;
	padding: 0;
}

h1,h3,h4{
	font-weight: 700;
	color: black;
}

.header{
background: black;
color: white;
}

.logo{
	margin-top:5px;
}
.menu__item{
	margin: 25px 30px;
}

.menu__item a{
 font-size: 22px;
 font-weight: 700;
 color: white;
}


.offer{

}

.offer__title{

}