body{

}
 .container{
 	margin-left: 120px;
 		
 }

ul, li{
	display: block;
	margin:0;
	padding: 0;
}

h1,h2,h3,h4{
	font-weight: 700;
	color: black;
}



.header{
background: black;
color: white;
}

.logo{
	margin-top:14px;
}
.menu__item{
	margin: 20px 30px;
}

.menu__item a{
 font-size: 18px;
 font-weight: 400;
 color: white;
}


.offer{

}

.title{
margin-top: 100px;
margin-bottom: 100px;

}

.title2{
	margin-top: 100px;
	margin-bottom: 70px;
}



.block__title{
	margin-top: 20px;
	margin-bottom: 20px;
	color: black;

}

.info{
	background: #f6f8fa;
	margin-top: 30px;
}

.kar{
	padding-top: 90px;
	padding-bottom: 60px;
}
.infoblock{

	padding-left: 70px;

}
.infoblock__title{
	margin-top: 100px;
	padding-top: 70px;
	color: black;
}
.infoblock__area{
	resize: none;
	border-radius: 5px;
}
.infoblock__button{
	border-radius: 8px;
}
