body{

}
 .container{
 	padding-left: 50px; 
 	

 }

ul, li{
	display: block;
	margin:0;
	padding: 0;
}

h1,h2,h3,h4{
	font-weight: 700;
	color: black;
}



.header{
width: 100%;
background: black;
color: white;
}

.logo{
	margin-top:14px;
}
.menu__item{
	margin: 20px 30px;
}

.menu__item a{
 font-size: 18px;
 font-weight: 400;
 color: white;
}

.pic{
	width: auto;
}



.title{
margin-top: 100px;
margin-bottom: 100px;

}

.three{
	margin-top: 40px;
}
.title2{
	margin-top: 100px;
	margin-bottom: 70px;
}



.block__title{
	margin-top: 20px;
	margin-bottom: 20px;
	color: black;

}

.info{
	background: #f6f8fa;
	margin-top: 30px;
}

.kar{
	padding-top: 90px;
	padding-bottom: 60px;
}

.infoblock{



}
.infoblock__title{
	margin-top: 100px;
	padding-top: 70px;
	color: black;
}
.infoblock__area{
	resize: none;
	border-radius: 5px;
	outline: none;
}
.infoblock__button{
	border-radius: 8px;
}





@media screen and (max-width: 992px) {
	body{
		text-align: center;
	}
	.container{
		padding-left: 20px;
	}
.logo{
display: block;
margin: 0 auto;
padding-top: 10px;
}
.list{
	margin-left: 60px; 
}
.title {
	margin-bottom: 50px;
	margin-top: 50px;
}
.offer__block{
	margin-bottom: 30px;
}
.pic{
height: 50%;
margin: 30px;
}
.features{
	height: 630px;
}

.block__pic{

	width: 30%;
}
.block__inside{
	width: 40%;
	margin: 0 auto;
	margin-bottom: 30px;
}

.infoblock__title{
	padding-top: 0;
}

.infoblock__area{
display: block;
margin: 0 auto;
margin-bottom: 20px;
}
.kar{
	width: 80%;
	margin-left: 60px;
}
}

@media screen and (max-width: 576px) {
	#pic{
	height: 460px;
}
.list{
margin-left: 0;
}

.menu__item{
	margin: 15px;
}

.offer{
	display: flex;
	flex-wrap: wrap;
}
.infoblock__area{
	width: auto;
}

.three{
	height: 1000;
}

}
@media screen and (max-width: 364px) {
.pic{
	height: 40%;
}
}